.change-userid-container, 
.password-container {
 background: #1a5f1a;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.change-userid-box, 
.password-box {
  width: 500px;
  background: #ffffff9c;
  margin: 100px auto;
  padding: 50px 60px;
  border-radius: 10px;
  text-align: left;
}
.change-pass {
 width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 4px;
  
  outline: none;
  font-size: 14px;
 
}


.password-logo {
  position: absolute;
  top: 20px;
  right: 30px;
  height: 80px;
}


.change-userid-box h2,
.password-box h2 {
  font-weight: bold;
  margin-bottom: 10px;
}

.change-userid-box p,
.password-box p {
  margin-bottom: 20px;
  font-size: 14px;
  color: red;
}


label {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 14px;
  color: #333;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 14px;
  background: white;
}


.error-text {
  color: red;
  margin-bottom: 10px;
  font-size: 13px;
}


.password-field {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: white;
}

.password-field input {
  border: none;
  outline: none;
  padding: 10px;
  width: 100%;
}

.password-field span {
  padding: 0 10px;
  cursor: pointer;
  user-select: none;
}


.change-btn {
  width: 100%;
  padding: 10px;
  margin-top: 30px;
  background-color: #4CAF50;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s;
}

.change-btn:hover {
  background-color: #449b45;
}
