body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.employee-container {
  min-height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
}
 
.employeetop-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  border-bottom: 1px solid #ccc;
}
.employee-form{
   width: 800px;
   height: 500px;
   overflow-y: auto; 
    scrollbar-width: thin; 
}

.logo-title {
  color: #004d00;
}

.logo-title .title {
  display: block;
  font-size: 1.75rem;
  font-weight: bold;
  line-height: 1.2;
}

.logo-title .subtitle {
  font-size: 0.85rem;
  font-weight: normal;
}

/* Step Navigation */
.employeemiddle-container {
  background-color: #006838;
}

.employeenav-links {
  display: flex;
  justify-content: space-around;
  padding: 0.8rem 1rem;
  flex-wrap: wrap;
}

.employeenav-item {
  color: #fff;
  padding: 0.5rem 1rem;
  margin: 0.3rem;
  border-radius: 5px;
  transition: all 0.2s ease;
}



/* Main Content */
.main-content {
  display: flex;
  flex: 1;
  padding: 1.5rem;
  gap: 1.5rem;
  justify-content: space-between;
  align-items: center;
}

/* Left Section */
.form-section {
  width: 50%;
}

.form-title {
  font-size: 1.75rem;
  font-weight: 600;
  color: black;
  margin-bottom: 1rem;
  text-align: center;
}

.employeeform-grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: end;
  gap: 0.75rem 3rem;
}
.form-one{
  width: 100%;
 display: flex;
 flex-direction: column;
 

}
.form-two{
  display: flex;
  flex-direction: column;
  

 }

.label {
  display: block;
  margin-top: 0.25rem;
  color: #333;
}

.required {
  color: red;
  margin-left: 0.25rem;
}

.input {
  width: 100%;
  padding: 0.8rem 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Photo Box */
.photo-box {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.photo-preview {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

/* Buttons */
.employee-btn {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

.employee-btn button {
  padding: 0.6rem 1.2rem;
  margin-right: 1rem;
  background-color: #2c6e49;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.employee-btn button:hover {
  background-color: #26543b;
}

/* Error Messages */
.error {
  color: red;
  font-size: 0.8rem;
  margin-top: 0.2rem;
}

.popup {
  position: fixed; 
  top: 0; 
  left: 50%;
  transform: translateX(-50%); 
  background-color: white; 
  color: rgb(46, 46, 228);
  padding: 20px;
  border-radius: 8px;
  z-index: 9999;
  width: 30%; 
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}


.popup-content {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
font-size: 18px;
color: #000;
}

.popup-ok{
  display: flex;
  width: 40px;
  color: whitesmoke;
  background-color: rgb(46, 46, 228);
  align-items: flex-end;
}
/* Image Section */
.image-section {
  width: 50%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid #ccc;
  padding: 0.25rem;
}

.image-section img {
  width: 100%;
  height: 600px;
  object-fit: cover;
}