.ForgotPassword-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1a5f1a;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    padding: 40px;
    position: relative;
    box-sizing: border-box;
  }
  
  .ForgotPassword-logo {
    position: absolute;
    top: 30px;
    right: 40px;
    height: 120px;
    width: auto;
    z-index: 2;
  }
  
  .ForgotPassword-container {
    background-color: rgba(255, 255, 255, 0.493);
    border-radius: 20px;
    padding: 40px;
    width: 35%;
    height: 500px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    margin-left: 10%;
    margin-bottom: 10%;
  }
  
  .ForgotPassword-container h2 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;
    color: #000;
  }
  
  .ForgotPassword-container p {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20%;
    color: #333;
  }
  
  .ForgotPassword-container label {
    font-weight: 500;
    display: block;
    margin-bottom: 6px;
  }
  
  .required {
    color: red;
    margin-left: 2px;
  }
  
  .ForgotPassword-container input {
    width: 100%;
    padding: 12px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 12px;
  }
  
  .ForgotPassword-container .error {
    color: #e53935;
    font-size: 14px;
    margin-bottom: 12px;
  }
  
  .ForgotPassword-container button {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .ForgotPassword-container button:hover {
    background-color: #388e3c;
  }
  
  .ForgotPassword-image {
    max-width: 500px;
    padding-left: 40px;
    margin-top: 20%;
    margin-right: 10%;
  }
  
  .ForgotPassword-image img {
    max-width: 100%;
    height: auto;
  }
  .error {
  color: red;
  font-size: 0.9rem;
  margin-top: 4px;
}