.otp-container {
  height: 100vh;
  background: #1a5f1a;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.otp-logo {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 160px;
}

.otp-box {
  background-color: #ffffff9c;
  padding: 30px 40px;
  border-radius: 12px;
  text-align: center;
  width: 500px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
}

.otp-box h2 {
  margin-bottom: 10px;
  font-weight: 600;
}

.otp-box p {
  margin-bottom: 20px;
}

.otp-box label {
  font-weight: 500;
  display: block;
  margin-bottom: 8px;
}

.otp-box input {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.resend-otp {
  display: inline-block;
  margin-bottom: 20px;
  font-size: 14px;
  color: #007bff;
  cursor: pointer;
  text-decoration: underline;
}

.otp-buttons {
  display: flex;
  justify-content: space-between;
}

.verify-btn {
  background-color: #007bff;
  color: whitesmoke;
  border: none;
  padding: 10px 22px;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

.back-btn {
  background-color: #007bff;
  color: whitesmoke;
  border: 1px solid #ccc;
  padding: 10px 22px;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}
